* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    letter-spacing: 4px;
    text-align: center;
}

.verdeH1 {
    color: green;
}

.marronH1 {
    color: rgba(235, 153, 60, 0.692);
}

.marco {
    margin-left: 4%;
    margin-right: 4%;
    border: 2px solid rgb(185, 184, 184);
    padding: 0 25px;
}

h2 {
    color: rgb(129, 177, 59);
    border-bottom: 1px solid;
}

h3 {
    color: rgba(235, 153, 60, 0.692);
}