body {
    background-color: #c2f3e2;
    margin-left: 2em;
}

h1, h2 {
    font-style: italic;
} 

#lista {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

span {
    font-size: 12px;
    position: relative; 
    top: 2px;
}