* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    letter-spacing: 4px;
    text-align: center;
}

.verdeH1 {
    color: green;
}

.marronH1 {
    color: rgba(235, 153, 60, 0.692);
}

.marco {
    margin-left: 4%;
    margin-right: 4%;
    background: linear-gradient(rgb(185, 184, 184), white 6%, white 87%, rgb(185, 184, 184) 100%);
    border: 2px solid rgb(185, 184, 184);
    padding: 0 25px;
    
}

h2 {
    color: rgb(129, 177, 59);
    border-bottom: 1px solid;
}

h3 {
    color: rgba(235, 153, 60, 0.692);
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body {
    width: 900px;
    max-width: 900px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: grey;
}

#bordeBlanco {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

ul > li {
    list-style: none;
    background: linear-gradient(white 25%,  rgb(129, 177, 59));
    background-color: rgb(129, 177, 59);
    border: 2px solid rgb(185, 184, 184);
    margin-bottom: 5px;
    padding: 7px 30px;
    text-align: center;
}

ul > li:hover {
    background-color:coral;
}

ul > li:nth-child(1) {
    border: 2px solid rgb(185, 184, 184);
    background: linear-gradient(white 25%,  rgba(235, 153, 60, 0.692));
}

ul > li > a {
    text-decoration: none;
    color: black;
}

#footer {
    display: flex;
    justify-content: center;
    font-size: 11px;
    color: grey;
    font-style: italic;
}

#footer > p > span {
    text-decoration-line: underline;
}

#foto {
    display: flex;
    justify-content: center;
}